<!DOCTYPE html>
<html>
<head>
    <title>Lap's blog</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{#    <link rel="stylesheet" href="https://stackedit.io/style.css" />#}
    <link rel="shortcut icon" href="https://lap-trinh.net/misc/favicon.ico" type="image/vnd.microsoft.icon">
    <style>
    {% include 'css/stackedit-io.style.css' %}
    {% include 'css/style.css' %}
    </style>
</head>
<body>
<header>
    <h1 class="logo"><a href="//lap-trinh.net">Lap's blog</a></h1>
</header>
{{ content|raw }}
</body>
</html>